<h1>_BOLOGNETEK</h1>

{{#each data}}


<img src="{{url}}" alt="picture of nature" class="index-picture">

<div class="index-author">{{author}}</div>
<div class="index-author">{{body}}</div>

{{/each}}
