<section id="header-container">
    <div class="header">
  <div class="title"> <a href="/gallery">_BEARTEK</a></div>

  <div class="header-nav">
    <div class="login">
      <a href="/login.html" class="login">
        Login </a>
    </div>

    <div class="register">
      <a href="/register.html" class="register">Register</a>
    </div>

    <div class="home">
      <a href="/gallery" class="home">Home</a>
    </div>
 </div>
 </div>
  <div class="intro-container">
    <div class="intro">
      Welcome to this fabulous website that i have created. this website is here to show the skills that i have aquired
      thus far in the Devleague's fulltime Web-development course. When i first started this course, i had zero
      experience with any language. This course has taught me a lot so far and i'm only a month in and we are creating a
      full-stack web application.
    </div>
  </div>

  <img id="header-picture"
    src="https://www.worldchildcancer.org/sites/default/files/styles/775x440crop/public/bear1.jpg?itok=34n8JbNr&c=9ca1e934a11aeb0b1c30fec09e78209e"
    alt="bear grylls running">

</section>


<section class="gallery-wrapper">
  {{#each data}}
  <div class="gallery-container">
    <div class="gallery">
      <a href="/gallery/{{id}}">
      <img src="{{url}}" alt="Grizzly bear in nature" class="index-picture">
      <div class="index-author">By: {{author}}</div>
      </a>
    </div>
  </div>
  {{/each}}
</section>