<div class = 'center-picture'>
  <img id="header-picture"
    src="https://www.worldchildcancer.org/sites/default/files/styles/775x440crop/public/bear1.jpg?itok=34n8JbNr&c=9ca1e934a11aeb0b1c30fec09e78209e"
    alt="bear grylls running">
</div>

<section class="gallery-wrapper">
  {{#each data}}
  <div class="gallery-container">
    <div class="gallery">
      <a href="/gallery/{{id}}">
      <img src="{{url}}" alt="Grizzly bear in nature" class="index-picture">
      <div class="index-author">By: {{author}}</div>
      </a>
    </div>
  </div>
  {{/each}}
</section>