<h1>NEW POST</h1>

<form action='/gallery/' method='POST'>
  <label for='author'>Author</label>
  <input type='text' name='author' class='new-author'>
  <label for="url">url</label>
  <input type="text" name="url" class="new-url">
  <label for="body">body</label>
  <input type="body" name='body' class="new-body">
  <input type="submit" value="Submit">
</form>