<h1>Gallery image: </h1>
{{#each post}}

<img src="{{url}}" alt="picture of a bear" class= "post-picture">
<div class="post-author">By: {{author}}</div>
<div class='post-description'>{{body}}</div>

{{/each}}
