<section id="header-container">
    <div class="header">
  <div class="title"> <a href="/gallery">_BEARTEK</a></div>

  <div class="header-nav">
    <div class="login">
      <a href="/login" class="login">
        Login </a>
    </div>

    <div class="register">
      <a href="/register" class="register"><div class="align-register">Register</div>  </a>
    </div>

    <div class="home">
      <a href="/gallery" class="home">Home</a>
    </div>
 </div>

 </div>
  <div class="intro-container">
    <div class="intro">
DevLeague is a magical place that transforms motivated individuals into professionals in their respective field of study in an accelerated, immersive and effective format.
    </div>
  </div>

</section>